<h1>{{ pregunta }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' pregunta.id %}" method="post">
{% csrf_token %}
{% for opcion in pregunta.opcion_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ opcion.id }}" />
    <label for="choice{{ forloop.counter }}">{{ opcion }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>