{% if latest_question_list %}
    <ul>
    {% for pregunta in latest_question_list %}
        <li><a href="{% url 'polls:detail' pregunta.id %}">{{ pregunta }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}